{
    "env": {
      "production": {
        "plugins": ["transform-remove-console"]
      }
    },
    "presets": ["babel-preset-react-native-stage-0/decorator-support"],
    "plugins": [
      ["module-resolver", {
        "cwd": "babelrc",
        "root": "./",
        "alias": {
          "~": "./src"
        }
      }],
      "transform-decorators-legacy"
    ]
  }
